@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
:root {
  --color: #3D348B;
  --secondary: #CA054D;  
  --dark: #233131;
  --light: #c4b9ae;
  --pink: #ca054d;
  --yellow: #FFFF66;
  --grey: #cacaca;
}
    /* Box sizing rules */
    *,
    *::before,
    *::after {
      box-sizing: border-box;
      transition: 0.2s;
    }
    
  ::selection {
    background: var(--yellow);
  }
.atrocious::selection {
    background-color: yellow;
    color: var(--color);
    cursor: crosshair !important;
    caret-color: red;
    outline: 2px solid var(--secondary);
    text-decoration: green wavy underline;
    text-emphasis-color: blue;
    text-shadow: 12px 6px 6px orange;
}

  html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      line-height: 1.5;
      scroll-behavior: smooth;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    /* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background-color: rgb(248, 234, 234);
  color: #3d3d3d;
  line-height: 1.5;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}



/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
/* article > * + * {
  margin-top: 1.4em;
} */

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


a:not(.not-text) {
  color: var(--pink);
  text-decoration: none;
  position: relative;
  z-index:99;
}
a:focus {
  outline: 2px dotted var(--pink);
}
a:not(.not-text)::after {
  content: '';
  left: 0;
  bottom: 0;
  min-height: 8px;
  height: 20%;
  max-width:800px;
  width:100%;
  background: var(--yellow);
  display: inline-block;
  position: absolute;
  z-index: -1;
}
a:not(.not-text):hover {
  opacity: 0.9;
}
a:not(.not-text):hover::after {
  height: 20px;
}
    footer {
        padding:2rem 0;
        max-width:1200px;
        margin:0 auto;
        font-size: 0.8rem;
    }
    h1, h2, h3 {
      font-family: 'Share Tech Mono', monospace;

    }
    h2 {
      margin-bottom: 1.2rem;
    }