.container {
  margin: 1rem auto;
  max-width: 400px;
    background-color: #f4f4f4;
    border: 5px solid #333;
    padding: 1rem;
}
ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
    list-style-type: none;
}