.container {
margin-bottom: 2rem;
border-bottom: 1px solid #d4d4d4
}
.date {
  opacity: 0.8;
  font-size: 0.8rem;
}
.tagList {
  display: flex;
  flex-flow: row wrap;
    list-style-type: none;
    margin: 0;
}
ul li {
  padding-right: 0.5rem;
}
.tag {
  font-size: 0.8rem;
}