.headingWrapper {
    position: absolute;
    right: 100%;
    padding-right: 2rem;
    top: 0;
    bottom: 0;
    font-size: 2.3rem;
    opacity: 0.2;
}
.heading {
    text-align: right;
position: sticky;
top: 0;
margin: 0;
}
.inner {
position: relative;
margin-bottom: 60px;
}