.header {
    min-height: 72px;
    padding: 1rem;
    max-width:640px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
.navlinks {
        flex: 1;
        justify-content: flex-start;
}
.bigHeader {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2rem;
}