main {
  min-height:95vh
}
header.intro {
  min-height: 75vh;
  padding-top: var(--spacing);
  display: flex;
    flex-direction: column;
    justify-content: center;
}
.number-wrapper {
  position: absolute;
  height: 100%;
  left: -10rem;
  padding-top: 4px;
}
.number {
  position: sticky;
  top: calc(var(--spacing) * 1.5);
  opacity: 0.5;
  letter-spacing: 1px;
  font-weight: 700;
  display:flex;
}
.number::before {
  content: "";
  width:6rem;
  left: 0;
  display: block;
  align-self:center;
  height: 1px;
  background: white;
}
.number::after {
  content: attr(data-number-section);
  transform: rotate(-90deg);

}
section,header {
  position: relative;
}
.grid--card-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(8em, 100%), 1fr));
  grid-column-gap: var(--spacing);
  grid-row-gap: var(--spacing);
}
